<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="option-container">
          <mat-card-title>
            Citas
          </mat-card-title>
          <div class="btn-container">
            <button (click)="AddAppointment()">Agregar Cita</button>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="appointmentId">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let element"> {{element.appointmentId}} </td>
          </ng-container>

          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef> Nombre del Paciente</th>
            <td mat-cell *matCellDef="let element"> {{element.patient}} </td>
          </ng-container>

          <ng-container matColumnDef="specialty">
            <th mat-header-cell *matHeaderCellDef> Especialidad </th>
            <td mat-cell *matCellDef="let element"> {{element.specialty}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción</th>
            <td mat-cell *matCellDef="let element"> {{element.infodesc}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha de Cita</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" style="text-align: right">
              <a (click)="EditAppointment(element)">
                <button>
                  <mat-icon>edit</mat-icon>
                </button>
              </a>
              <a (click)="DeleteAppointment(element)">
                <button>
                  <mat-icon>delete</mat-icon>
                </button>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
