<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <div class="option-container">
          <mat-card-title>
            Pacientes
          </mat-card-title>
          <div class="btn-container">
            <button>Agregar Paciente</button>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="illness">
            <th mat-header-cell *matHeaderCellDef> Illness </th>
            <td mat-cell *matCellDef="let element"> {{element.illness}} </td>
          </ng-container>

          <ng-container matColumnDef="sex">
            <th mat-header-cell *matHeaderCellDef> Sex </th>
            <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </mat-card>
    </div>
  </div>
</div>
