.container{
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1{
  font-size: 40px;
}

.container h4 {
  font-size: 20px;
}

button {
  border: solid #3F51B5 1px;
  border-radius: 5%;
  color: #FFFFFF;
  background: #3F51B5;
  height: 100%;
}

.btn-container{
  font-size: 16px;
  height: 45px;
}
